# If you used with Docker, this .env.sample works as is (simply copy to .env)

HOST=localhost
PORT=2009

# Golang Goose Configurations
GOOSE_DRIVER=mysql
GOOSE_DBSTRING=myuser:mypassword@tcp(mariadb)/mydb?parseTime=true&multiStatements=true
GOOSE_MIGRATION_DIR=./app/migrations